*{
    background: #f0f0f0;
    color: #060605;
    margin: 0;
}
html, body,#home-div, #recent-wrok, #blog, #contact{
    width:100%;
    height:100%;

}
.home-div{
    background-image: url('images/bay_bridgeBW.jpg');
    background-size: 100% auto;
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    top: 0;left: 0;
    padding: 0;
}
.menu{
    position: fixed;
    width: 40%;
    height: 6%;
    padding-top: 1%;
    margin-left: 30%;
    text-align: center;
    font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    font-size: 20px;
    font-weight: 400;
    background: #4c4c54;
    opacity: 0.5;
}

.menu-link {
    /*position: fixed;*/
    padding-left:  30px;
    padding-right: 30px;
    text-decoration: none;
    color: #00f7f7;
    background: transparent;
    opacity: 1;
    z-index: 1;

}
.background-grey{
     position: absolute;
     top: 37%;
     left: 35%;
     background: #4c4c54;
     opacity: 0.5;
     padding: 6% 16%;
 }

.name{
    /*padding: 2% 7% 0 7%;*/
    background: transparent;
    position: absolute;
    top: 42%;
    left: 42%;
    color: #00c7c7;
    font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    font-size: 30px;
    font-weight: 400;
    opacity: 1;

}
.line{
    position: absolute;
    top: 49%;
    left: 40%;
    right: 39%;
}
.web-developer{
    position: absolute;
    top: 52%;
    left: 45.5%;
    background: transparent;
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif
    text-transform: lowercase;
    font-style: italic;
    font-size: 22px;
    font-weight: 100;
    color: #00C7C3;
    opacity: 1;
    z-index: 100;
}
#down:before{
    content: U+2228;
}