@media (min-width: 1199px) {
  header.home {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #contact #contact-form-Id textarea {
    min-height: 50px !important;
  }
  #contact #contact-form-Id .message-lable {
    top: 29%;
    padding: 5px;
  }
  #contact #contact-form-Id textarea:focus + label,
  #contact #contact-form-Id textarea.has-value + label {
    top: 0px;
  }
}
@media (max-width: 450px) {
  #about-me .skill-chart-div {
    display: none;
  }
}
