*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /*background: #ECF0F1;*/
    /*font-family: "adobe-garamond-pro";*/
    /*font-style: italic;*/
}
/*.home-div:before {*/
    /*content: "";*/
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*z-index: -1;*/

    /*display: block;*/
    /*background: url('img/big-data-series-background.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    /*width: 100%;*/
    /*height: 100%;*/

    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
/*}*/

.home-div {
    width: 100%;
    height: 100%;
/*.home-div{*/
    background: url("img/big-data-series-background-blur.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='big-data-series-background-blur.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='big-data-series-background-blur.png', sizingMethod='scale')";
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.menu-div{
    padding: 10px 15px;
    border-bottom: 1px solid #ceced7;
    position: fixed;
    width: 100%;
    height: 10%;

}
.logo img{
    width: 170px;
    position: fixed;
}
.menu{
    margin-top: 1.4%;
    margin-left: 55%;
    position: fixed;
}
.menu a{
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #2C3E50;
    /*color: #ECF0F1;*/
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    border:1px solid transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.menu a:hover{
    border:1px solid #2C3E50;
    border-radius: 20px;
}

.content-div{
    /*margin-top: 20%;*/
    /*vertical-align: middle;*/
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -mooz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.function {
    font-family: "adobe-garamond-pro";
    font-style: italic;
    line-height: 1.5em;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #2C3E50;
    /*color: #ECF0F1;*/
}

.company{
    text-transform: uppercase;
    color: #2C3E50;
    /*color: #ECF0F1;*/
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.arrow:before{
    content: '\27a4';
}
.arrow{
    display: inline-block;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #2C3E50 ;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 90%;
    text-align: center;
    font-size: 25px;
}
.services-div{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid transparent;
}
.services-div1{
    margin: 8% auto;
    /*text-align: center;*/
}
.services-img{
    float: right;
}
.upala-offers{
    color: #2C3E50;
    /*color: #ECF0F1;*/
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 100px;
}
.you{
    font-weight: 800;
}
.services-content{
    clear: right;
    /*margin: 20% auto;*/
    color: #2C3E50;
    /*color: #ECF0F1;*/
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
}
.heading{
    font-weight: 600;
}
.contact-div{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ffffff;

}
.contact-form-div{
    text-align: center;
    /*width: 70%;*/
    height: 80%;
    margin: 10% auto;
}
form.contact-form input{
    margin: 20px 5px;
    width: 200px;
}
#message-form{
    width: 680px;
    min-height: 300px;


}
