.wrapper nav.panel {
  clear: both;
}
.wrapper nav.panel .navbar-toggle {
  padding: 0;
}
.wrapper nav.panel .navbar-toggle .icon-close {
  position: relative;
  top: -13px;
}
.wrapper nav.panel .navbar-toggle .icon-close .fa-times {
  opacity: 1;
  font-size: 20px;
}
.wrapper nav.panel .navbar-toggle .icon-bar {
  opacity: 0;
  background: #ffffff;
}
.wrapper nav.panel .navbar-toggle.collapsed .icon-bar {
  opacity: 1;
}
.wrapper nav.panel .navbar-toggle.collapsed .fa-times {
  opacity: 0;
}
.wrapper nav.panel span.search button {
  float: right;
  padding-right: 1%;
  line-height: 35px;
  border: none;
  background: none;
}
.wrapper nav.panel #nav-menu {
  float: right;
}
.wrapper nav.panel #nav-menu ul.navbar-nav li a {
  line-height: 9px;
  color: #e0e6ea;
}
.wrapper nav.panel #nav-menu ul.navbar-nav li a:hover {
  background: #3f586d;
}
.wrapper nav.panel .searchDiv {
  position: relative;
  top: 8px;
  width: 23%;
  margin-left: 76.5%;
  background: #2c3e50;
  padding: 1%;
  z-index: 200;
}
.wrapper nav.panel .searchDiv input[type=search] {
  width: 85%;
  background: #2c3e50;
  border: 1px solid #ffffff;
  border-radius: 14px;
}
.wrapper nav.panel .searchDiv button {
  background: none;
  border: none;
}
.wrapper .footer .footerCopyright {
  float: right;
}
.wrapper .footer .footerCopyright a {
  color: #c1c5c6;
  font-weight: 300;
  font-size: 13px;
}
.wrapper nav.panel,
.wrapper .footer {
  background: #2c3e50;
  color: #ecf0f1;
}
.wrapper nav.panel span.logo,
.wrapper .footer span.logo {
  line-height: 35px;
  padding: 1%;
}
.wrapper nav.panel span.logo .fa-car,
.wrapper .footer span.logo .fa-car {
  font-size: 20px;
  color: yellow;
}
