@media (max-width: 766px) {
  .wrapper nav.panel span.search button {
    float: none !important;
  }
  .wrapper nav.panel .navbar-collapse.collapse {
    background: #2c3e50;
    width: 40%;
    margin-left: 55%;
    margin-top: -2%;
  }
  .wrapper nav.panel .navbar-collapse.collapse ul li a {
    background: #2c3e50;
    z-index: 101;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .wrapper nav.panel div.searchDiv {
    width: 32%;
    top: -34px;
    margin-left: 23%;
    padding: 0;
    z-index: 10;
  }
  .wrapper nav.panel #nav-menu {
    clear: both !important;
  }
  .wrapper .content .contentHeader section h2 {
    width: 100% !important;
  }
  .wrapper .content .contentHeader .selection .findCarButton {
    font-size: 11px;
  }
  .wrapper .content .contentBody .carImage > div {
    margin-bottom: 2%;
  }
  .wrapper .content .contentBody .carImage div.image,
  .wrapper .content .contentBody .carImage span.learnMore {
    width: 150px !important;
    height: 120px !important;
  }
}
@media (min-width: 767px) and (max-width: 960px) {
  .content .contentBody .carImage > div {
    margin-right: 1%;
  }
}
@media (min-width: 1450px) {
  .contentBody .carDetailContainer {
    max-width: 66%;
    margin: 0px 22% !important;
  }
  .contentHeader section,
  .selection {
    max-width: 66%;
    margin: 0px 22.5% !important;
  }
}
@media (max-height: 650px) {
  .contentHeader .contentHeaderImage section {
    top: 0 !important;
  }
  .contentHeader .contentHeaderImage section h2 {
    font-size: 20px;
  }
  .contentHeader #selectCar .findCarButton {
    padding: 0 12px;
    font-size: 9px;
  }
  .contentHeader #selectCar .dropdown {
    height: auto;
  }
}
@media (max-height: 750px) and (max-width: 414px) {
  #wrapper .searchDiv {
    width: 33%;
    top: -34px;
    margin-left: 40%;
  }
  #wrapper .searchDiv input[type=search] {
    width: 75%;
  }
  #wrapper .content #contentHeaderId .contentHeaderImage {
    height: 100%;
  }
  #wrapper .content #contentHeaderId #selectCar {
    visibility: hidden;
    height: 0;
  }
  #wrapper #contentBodyId .carDetailContainer .carInfo,
  #wrapper #contentBodyId .carDetailContainer .carImage {
    clear: both;
    width: 100%;
  }
  #wrapper #contentBodyId .carDetailContainer div.image,
  #wrapper #contentBodyId .carDetailContainer span.learnMore {
    width: 120px !important;
    height: 110px !important;
    margin-top: 3%;
  }
  #wrapper .footer .logo {
    display: none;
  }
  #wrapper .footer .footerCopyright {
    float: none;
    text-align: center;
  }
}
